body {
    background: #f5efe6;
    font-family: "Georgia";
    text-align: center;
}

.navbar {
    background: #7b4f3c;
    padding: 15px;
}

.navbar a {
    color: #f5efe6;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.titulo {
    font-size: 40px;
    margin-top: 80px;
    color: #4a2e2a;
}

.subtitulo {
    font-size: 20px;
    margin-bottom: 40px;
    color: #7b4f3c;
}

input {
    display: block;
    margin: 10px auto;
    padding: 12px;
    width: 280px;
    border-radius: 8px;
    border: 1px solid #7b4f3c;
}

.btn {
    background: #7b4f3c;
    color: white;
    padding: 12px 25px;
    margin: 10px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
}

.card {
    background: white;
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px #c4b8af;
}
